/* Responsive Breakpoint */


/* banner - font */

@media screen and (min-width: 1685px) {
    p,
    nav {
        font-size: 1.1em;
    }
    nav {
        height: 100px;
    }
    nav img {
        width: 80px;
    }
    .banner h1 {
        font-size: 13.5em;
    }
}

@media screen and (max-width: 1550px) {
    p {
        font-size: 0.9em;
    }
    aside .profile .desc-container {
        font-size: 1.6em;
    }
    aside .profile .desc-container .about-me {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 1450px) {
    p {
        font-size: 0.85em;
    }
    aside .profile .desc-container {
        font-size: 1.4em;
    }
    aside .profile .desc-container .about-me {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 1400px) {
    p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1350px) {
    p {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 1300px) {
    p {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 1200px) {
    aside .profile .desc-container {
        font-size: 1.2em;
    }
    aside .profile .desc-container .about-me {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 1150px) {
    p {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 980px) {
    p {
        font-size: 0.55em;
    }
}

@media screen and (max-width: 900px) {
    p {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 1000px) {
    nav ul {
        width: 50%;
    }
    header .banner h1 {
        font-size: 7em;
    }
}

@media screen and (max-width: 900px) {
    nav ul {
        width: 50%;
    }
    header .banner h1 {
        font-size: 6em;
    }
}


/* Ukuran Tablet */

@media screen and (max-width: 768px) {
    .content article {
        flex-direction: column;
    }
    .content article .content-img,
    .content-desc {
        width: 100%;
        padding: 20px 30px;
    }
    .content article .content-img.hokkaido {
        order: 1;
    }
    .content article .content-desc.hokkaido {
        order: 2;
    }
    nav ul {
        width: 60%;
    }
    header .banner h1 {
        font-size: 5em;
    }
    footer {
        font-size: 0.8em;
    }
    p {
        font-size: 1em;
    }
    aside .profile header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    aside .profile .desc-container {
        margin: 5px 0;
    }
    aside .profile-img img {
        width: 70%;
    }
}


/* Ukuran Mobile */

@media screen and (max-width: 572px) {
    .menu-slide {
        display: flex;
    }
    header .banner h1 {
        font-size: 3em;
    }
    nav ul {
        position: absolute;
        top: 0;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        background-color: #fff;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide {
        transform: translateY(0);
        opacity: 1;
    }
    .banner img {
        height: 500px;
    }
}